body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(220, 233, 233);
}

.container {
  background: url(https://images.pexels.com/photos/1369476/pexels-photo-1369476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-position: center;
background-repeat: no-repeat;
height: 500px;
background-size: 90%;


}

.container .container-section{
background-color: rgba(0, 0, 0, 0);
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0, 10px, 0, 10px;

}
h2 {
  color:white;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 4px;
}

h1{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(6, 46, 91)	;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(6, 46, 91)	;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 



.heading{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
}

.news-app {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.list {
  background-color:rgb(245, 251, 249);
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  box-shadow:0px 0px 65px 0px rgba(0, 0, 0, 0.43);
}
.list:hover{
  position: relative; 
  top: -10px;
  
}

.about-image{
height: 600px;
width: 30%;
margin-left: 10px;

}



.about-container h1 {
  color: blue;
  margin-left: 475px;
}
.about-container{
  text-align: justify;
  font-size: 18px;
}
.about-news{
display: flex;
margin-left: 50px;
}
.about-news-app{
  float: left;
  text-align: justify;
  width: 800px;
  margin-left: 30px;
}

.text-form input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
}

.text-form .btn-submit {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px 6px 6px 0px;
  background-color: rgb(117, 168, 161);
  color: #000;
  font-weight: bold;
}

.comments-div {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.comments-list {
  background-color: rgb(252, 254, 254);
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;

}

.comment-form {
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  color: black;
}

.comment-form input {
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.nav-container{
  margin-left: 100px;
  margin-top: 70px;
}

